{% extends "index.html" %}

{% block title %}
    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about </h4>
              <h2>Home Services</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="/static/images/feature-image.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>QUICK FIX-HOME SERVICES</h4>
              <p>
                Quick Fix-Home Services is a trusted provider of comprehensive home maintenance and repair solutions, catering to a wide array of needs including plumbing, electrical work, carpentry, and appliance repair. With a team of highly skilled and experienced professionals, they guarantee prompt, reliable service tailored to each client's specific requirements. Whether you're dealing with a minor repair or a major installation, Quick Fix is committed to delivering top-quality workmanship with a strong emphasis on customer satisfaction. Their services are not only efficient but also affordable, making it easier for homeowners to maintain their properties without unnecessary stress. Quick Fix-Home Services prioritizes your convenience, ensuring that your home remains in excellent condition all year round. From quick fixes to complex projects, they are dedicated to providing the best solutions, helping you enjoy a well-maintained and comfortable living space.</p>
              {% comment %} <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>

    
    {% endblock %}